@charset "UTF-8";

*{
  min-width: 200px;
 
  
}
body {
    font-family: "Roboto Mono", monospace;
    background-image: url("https://cdn.pixabay.com/photo/2017/02/20/12/59/money-2082383_960_720.png");
    background-color: #000000;
     background-repeat:no-repeat;
    background-position: center center;      
    background-size: cover;
    
    background-attachment: fixed;
    
        }
  
  .container {
    text-align: center;
    padding: 20px;
    margin: auto;
    
  }
  
  
  .page-title {
    color: white;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: white;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    height: 20px;
      width: 10px;
      position: absolute;
      top: 5px;
      right: 5px;
  
  }
  
  input {
    margin: 12px;
    padding: 6px;
    border-radius: 5px;
  }
  
  label {
    color: white;
  }
  
  button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
  }
  button:hover{
    background-color: darkgray;
  }
  
  h2 {
    background-color: #0000007e;
    color: white;
    font-size: 25px;
  }
  